*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

font-family:Poppins,sans-serif;
background:#f5f5f5;
color:#333;

}

header{

height:100vh;

background:
linear-gradient(rgba(255,255,255,.92),rgba(255,255,255,.94)),
url("background.jpg");

background-size:cover;
background-position:center;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

text-align:center;

padding:30px;

}

.logo-placeholder{

margin-bottom:40px;

}

.logo-placeholder img{

height:200px;

}

nav{

position:absolute;

top:20px;

display:flex;

gap:25px;

}

nav a{

text-decoration:none;

color:#555;

font-weight:600;

transition:.3s;

}

nav a:hover{

color:#b88b1d;

}

.instagramBtn{

background:#b88b1d;

padding:10px 18px;

color:white;

border-radius:40px;

}

.hero h1{

font-family:Cinzel;

font-size:60px;

color:#222;

}

.hero h2{

margin:20px;

color:#b88b1d;

font-size:35px;

}

.location{

font-size:22px;

margin-bottom:35px;

}

.mainButton{

display:inline-block;

padding:18px 40px;

background:#b88b1d;

color:white;

text-decoration:none;

border-radius:40px;

font-size:18px;

transition:.3s;

}

.mainButton:hover{

transform:scale(1.05);

}

section{

padding:90px 10%;

text-align:center;

}

section h2{

font-family:Cinzel;

font-size:42px;

margin-bottom:30px;

color:#222;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

margin-top:40px;

}

.card{

background:white;

padding:35px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.beforeAfter{

display:grid;

grid-template-columns:1fr 1fr;

gap:30px;

margin-top:40px;

}

.imageBox{

height:350px;

border:3px dashed #c8a84a;

display:flex;

justify-content:center;

align-items:center;

font-size:24px;

background:white;

border-radius:15px;

}

.gallery{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

margin-top:40px;

}

.galleryItem{

height:280px;

background:white;

border:2px solid #ddd;

display:flex;

justify-content:center;

align-items:center;

border-radius:15px;

transition:.3s;

}

.galleryItem:hover{

transform:scale(1.03);

border-color:#b88b1d;

}

footer{

background:#222;

padding:80px;

text-align:center;

color:white;

}

.fade{

opacity:0;

transform:translateY(50px);

transition:1s;

}

.fade.show{

opacity:1;

transform:translateY(0);

}

@media(max-width:768px){

.hero h1{

font-size:42px;

}

.hero h2{

font-size:26px;

}

nav{

flex-wrap:wrap;

justify-content:center;

}

.beforeAfter{

grid-template-columns:1fr;

}

}
.imageBox video{

width:100%;

height:350px;

object-fit:cover;

border-radius:12px;

display:block;

}
